﻿@model MyProject2.ViewModel.BMIData

<body>
    <h1>BMI</h1>
    <form method="post" , action="/BMI/Index">
        @Html.DisplayNameFor(m => m.height): 
        @Html.TextBoxFor(m => m.height) 公尺
        @Html.ValidationMessageFor(modelItem => Model.height)<br/>
        @Html.DisplayNameFor(m => m.weight): 
        @Html.TextBoxFor(m => m.weight) 公斤
        @Html.ValidationMessageFor(modelItem => Model.weight)<br/>
        <input type="submit" value="Submit" />
    </form>
    <p>Result: @Model.BMI</p>
    <p>Tag: @Model.level</p>
</body>

