﻿
@{
    ViewBag.Title = "RegisterPage";
}

<h2>User Register</h2>


<p>Name: <input type="text" name="name" value="" /></p>
<p>Account: <input type="text" name="acc" value="" /></p>
<p>Password: <input type="password" name="pw" value="" /></p>
<p>Gender: <input type="radio" name="gender" value="Male" />Male <input type="radio" name="gender" value="Female" />Female<input type="radio" name="gender" value="Other" />Other </p>
<p><input type="submit" name="submit" value="Submit" /></p>
