﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>


<p>Name: @Html.TextBox("name")</p>
<p>Account: @Html.TextBox("account")</p>
<p>Password: @Html.Password("password")</p>
<p>
    Gender:
    @Html.RadioButton("gender", "0")女
    @Html.RadioButton("gender", "1")男
    @Html.RadioButton("gender", "2")其他
</p>
<p>自我介紹:</p>
<p>@Html.TextArea("introduction")</p>