﻿
@{
    ViewBag.Title = "razor";
}

<h2>razor</h2>

@{ 
    var nmsl = "NMSL";    
}
<p>@nmsl</p>
<p>Now Time: @DateTime.Now</p>
@{
    var i = 0;
    for(i = 0; i<10; i++)
    {
        <p> @i </p>
    }
}

@{ 
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

<ol>
    @{ 
        foreach(var fruit in fruits)
        {
            <li>@fruit</li>
        }
    }
</ol>